###########################
## Database Configuration
###########################
MARIADB_ROOT_PASSWORD=rootpassword
MAUTIC_DB_HOST=mariadb
MAUTIC_DB_PORT=3306
MAUTIC_DB_DATABASE=mautic
MAUTIC_DB_USER=mautic
MAUTIC_DB_PASSWORD=mauticpassword
MAUTIC_URL=http://localhost:8080
MAUTIC_TRUSTED_PROXIES=[]

###########################
## PHP Configuration
###########################
PHP_INI_DATE_TIMEZONE=America/Sao_Paulo
PHP_MEMORY_LIMIT=512M

###########################
## AWS SES via plugin etailors/mautic-amazon-ses
###########################
# Configure in Settings > Email Settings > AWS SES
MAUTIC_MAILER_DSN=mautic+ses+api://ACCESS_KEY:SECRET_KEY@default?region=us-east-1&ratelimit=14
###########################
